<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">

<head>
    <style type="text/css">
        a {
            text-decoration: none
        }

    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.color-animation/1/mainfile"></script>
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-messaging.js"></script>
    <script src="/node_modules/amazon-cognito-identity-js/dist/aws-cognito-sdk.js"></script>
    <script src="/node_modules/amazon-cognito-identity-js/dist/amazon-cognito-identity.js"></script>
    <script src="/node_modules/aws-sdk/dist/aws-sdk.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="Services/chat.js"></script>

    <link rel="icon" type="image/png" href="Assets/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="Assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="Assets/Linearicons-Free-v1.0.0/icon-font.min.css">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="app.js"></script>
    <!-----------------  Styles -------------------->
    <link rel="stylesheet" type="text/css" href="Styles/styles.css">
    <link rel="stylesheet" type="text/css" href="Styles/activity-feed.css">
    <link rel="stylesheet" type="text/css" href="Styles/login-screen.css">
    <link rel="stylesheet" type="text/css" href="Styles/util.css">
    <!-- Roboto font embed -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="styles/reset.min.css">
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <link rel="stylesheet" type="text/css" href="styles/chat.css">
    <!-----------------  Classes  ------------------->
    <script src="Classes/ride-request.js"></script>
    <script src="Classes/shopping-list.js"></script>
    <script src="Classes/shopping-item.js"></script>
    <script src="Classes/activity.js"></script>

    <!-----------------  Services  ------------------->
    <script src="Services/aws.service.js"></script>
    <script src="Services/senior-data.service.js"></script>
    <script src="Services/firebase.service.js"></script>
    <script src="Services/notifications.service.js"></script>
    <script src="Services/user-data.service.js"></script>
    <script src="Services/list.service.js"></script>
    <script src="Services/messaging.service.js"></script>

    <!-----------------  Controllers  ------------------->
    <script src="Controllers/controller.js"></script>
    <script src="Controllers/login.controller.js"></script>
</head>

<body ng-app="app" ng-controller="MainController as vm">
    <!--
    <div ng-if="vm.showLogin" class="container-login100" style="background-image: url('Assets/bg-01.jpg');">
        <div class="wrap-login100 p-t-30 p-b-50">

            
            <span ng-show="vm.loginMode == 0" class="login100-form-title p-b-41">
					Portal Login
				</span>
            <span ng-show="vm.loginMode == 1" class="login100-form-title p-b-41">
					Signup
				</span>



            <div class="login100-form p-b-33 p-t-5">
                <div ng-show="vm.loginMode == 0">
                    <div class="wrap-input100 validate-input" data-validate="Enter username">
                        <input class="input100" type="text" name="username" placeholder="User name" ng-model="vm.username">
                        <span class="focus-input100" data-placeholder="&#xe82a;"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        <input class="input100" type="password" name="pass" placeholder="Password" ng-model="vm.password">
                        <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                    </div>
                    <div class="container-login100-form-btn m-t-32">
                        <button ng-click="vm.login()" class="login100-form-btn">
							Login
                        </button>
                    </div>

                </div>
                <div ng-show="vm.loginMode == 1">
                    <div class="wrap-input100 validate-input" data-validate="Enter username">
                        <input class="input100" type="text" name="username" placeholder="User name" ng-model="vm.username">
                        <span class="focus-input100" data-placeholder="&#xe82a;"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        <input class="input100" type="password" name="pass" placeholder="Password" ng-model="vm.password">
                        <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Re-enter password">
                        <input class="input100" type="password" name="re-pass" placeholder="Re-enter Password" ng-model="vm.confirmPassword">
                        <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                    </div>
                    <div class="container-login100-form-btn m-t-32">
                        <button ng-click="vm.login()" class="login100-form-btn">
							Signup
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
-->

    <main style="height: 100%">
        <div id="dropDownSelect1"></div>
        <md-toolbar md-scroll-shrink>
            <div class="md-toolbar-tools" style="background: #004986" layout="row">
                <div layout="row" style="width: 100%" layout-align="start center">
                    <div class="avatar" ng-click="vm.toggleSidebar()">
                        <img src="https://scontent.fijd1-1.fna.fbcdn.net/v/t1.0-9/1621957_10200533117329480_988060193_n.jpg?_nc_cat=0&_nc_eui2=v1%3AAeFGM9_Uy0bXRBPgkJcloYeTruEb_kL7KAmpL29F7rT-VgmDNNIR6iD99qkclHPMuxqI7KaYocCJh48Jt_frl4G4jOUdXnMrWX160texS-48zQ&oh=fa107f9b18c6f2ce6c38f62722895a74&oe=5B272236">
                        <div class="hover">
                        </div>
                    </div>
                    <div layout="row" layout-align="start center">
                        <div>{{vm.currentView}}</div>
                    </div>
                </div>
            </div>
        </md-toolbar>
        <!--
<md-sidenav class="md-sidenav-left" md-component-id="sidenav" md-disable-backdrop md-whiteframe="4">
    <div layout="column" layout-align="center center" style="width=100%; height=100%">
        <div class="pro-pic">
            <img src="assets/pro-pic.jpeg">
        </div>
    </div>
</md-sidenav>
-->


        <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always">

            <!------------------------  ------------------------------------------------>
            <md-tab md-on-select="vm.selectView('Home')">
                <md-tab-label>
                    <i class="material-icons">home</i>
                </md-tab-label>
                <md-tab-body>

                    <div class="activity-feed">
                        <div ng-repeat="item in vm.seniorDataService.activities" ng-class="{'feed-item': !$last, 'last-feed-item': $last}">
                            <div class="date">{{item.date}}</div>
                            <div class="text">{{item.data}}</div>
                        </div>
                    </div>


                    <!--
                    <div ng-repeat="item in vm.test">
                        {{item}}
                    </div>

                    <div class="activity-feed">
                        <div class="feed-item">
                            <div class="date">About an hour ago</div>
                            <div class="text"><a href="single-need.php">Greg</a> claimed a <a href="single-need.php">ride</a> for "Doctor's Appointment" at 8:30am tomorrow for Edgar.</div>
                        </div>

                        <div class="feed-item">
                            <div class="date">3 hours ago</div>
                            <div class="text"><a href="single-need.php">Susie</a> picked up tomatoes and oranges for Edgar.
                            </div>
                        </div>

                        <div class="feed-item-caretaker">
                            <div class="date">Yesterday</div>
                            <div class="text"><a href="single-need.php">Bertha</a> requested a <a href="single-need.php">ride</a></div>
                        </div>

                        <div class="feed-item">
                            <div class="date">Yesterday</div>
                            <div class="text"><a href="single-need.php">Greg</a> picked up some shopping <a href="single-need.php">items</a>
                            </div>
                        </div>

                        <div class="feed-item-caretaker">
                            <div class="date">Two days ago</div>
                            <div class="text"><a href="single-need.php">Bertha</a> added some <a href="single-need.php">items</a> to her shopping list
                            </div>
                        </div>

                        <div class="feed-item">
                            <div class="date">Three days ago</div>
                            <div class="text"><a href="single-need.php">Susie</a> claimed a <a href="single-need.php">ride</a>
                            </div>
                        </div>

                        <div class="feed-item-caretaker">
                            <div class="date">Three days ago</div>
                            <div class="text"><a href="single-need.php">Bertha</a> requested a <a href="single-need.php">ride</a></div>
                        </div>
                    </div>
-->

                </md-tab-body>
            </md-tab>
            <!------------------------  ------------------------------------------------>
            <md-tab md-on-select="vm.selectView('Rides')">
                <md-tab-label>
                    <i class="material-icons">directions_car</i>
                </md-tab-label>
                <md-tab-body>

                    <div layout="row" class="event" style="height: 30px; background: rgba(221, 221, 221, 0); margin: 0px 10px 0px 10px">
                        <div class="date" style="border: none">
                            Date</div>
                        <div class="time" style="border: none">
                            Pickup</div>
                        <div class="dest" style="border: none">Destination</div>
                        <div class="date" layout="row" style="width:100%; padding-right: 0px; border: none">
                            Claimed
                        </div>
                    </div>
                    <!--
                    <header layout="row">
                        <button style="padding 0px" id="add_ride">
				<svg version="1.1" xmlns="http://www.w3.org/2000/you havesvg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 16 16" style="enable-background:new 0 0 16 16;" xml:space="preserve"><g><path class="fill" d="M16,8c0,0.5-0.5,1-1,1H9v6c0,0.5-0.5,1-1,1s-1-0.5-1-1V9H1C0.5,9,0,8.5,0,8s0.5-1,1-1h6V1c0-0.5,0.5-1,1-1s1,0.5,1,1v6h6C15.5,7,16,7.5,16,8z"/></g></svg>
			</button>
                        <input type="text" placeholder="Enter an ride.." id="ride">
                    </header>
-->

                    <div style="padding: 5px; height: calc(100vh - 134px); overflow: scroll">
                        <!-- Uncompleted tasks -->
                        <ul class="todo" id="rides"></ul>

                        <!-- Completed tasks -->
                        <ul class="todo" id="claimed">
                        </ul>
                    </div>

                    <!-- JavaScripts -->
                </md-tab-body>
            </md-tab>
            <!------------------------------------------------------------------------>
            <md-tab md-on-select="vm.selectView('Shopping')">
                <md-tab-label>
                    <i class="material-icons ">shopping_cart</i>
                </md-tab-label>
                <md-tab-body>

                    <header>
                        <input type="text " placeholder="Enter an item.. " id="item">
                        <button id="add">
				<svg version="1.1 " xmlns="http://www.w3.org/2000/you havesvg " xmlns:xlink="http://www.w3.org/1999/xlink " x="0px " y="0px "viewBox="0 0 16 16 " style="enable-background:new 0 0 16 16; " xml:space="preserve "><g><path class="fill " d="M16,8c0,0.5-0.5,1-1,1H9v6c0,0.5-0.5,1-1,1s-1-0.5-1-1V9H1C0.5,9,0,8.5,0,8s0.5-1,1-1h6V1c0-0.5,0.5-1,1-1s1,0.5,1,1v6h6C15.5,7,16,7.5,16,8z "/></g></svg>
			</button>
                    </header>

                    <div style="padding: 5px; height: calc(100vh - 154px); overflow: scroll">
                        <!-- Uncompleted tasks -->
                        <ul class="todo" id="todo"></ul>

                        <!-- Completed tasks -->
                        <ul class="todo" id="completed"></ul>
                    </div>

                    <!-- JavaScripts -->



                </md-tab-body>
            </md-tab>
            <!------------------------------------------------------------------------->
            <md-tab md-on-select="vm.selectView( 'Messages') ">
                <md-tab-label>
                    <i class="material-icons">message</i>
                </md-tab-label>
                <md-tab-body>


                    <div class="frame">
                        <div id="messages" class="message-list"></div>
                        <div>
                            <div class="msj-rta macro">
                                <div class="text text-r" style="background:whitesmoke !important ">
                                    <input class="mytext" placeholder="Type a message " />
                                </div>

                            </div>
                            <div style="padding:10px; ">
                                <span class="glyphicon glyphicon-share-alt "></span>
                            </div>
                        </div>
                    </div>



                </md-tab-body>
            </md-tab>

        </md-tabs>
    </main>
</body>

</html>
