<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">

<head>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.153.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="Styles/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>

    <script src="app.js"></script>

    <script src="Classes/ride-request.js"></script>
    <script src="Classes/shopping-list.js"></script>
    <script src="Classes/shopping-item.js"></script>

    <script src="Services/aws.service.js"></script>
    <script src="Services/senior-data.service.js"></script>
    <script src="Controllers/controller.js"></script>
</head>

<body ng-app="app" ng-controller="MainController as vm">
    <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools" layout="row">
            <div style="width: 400px">Caretaker Portal</div>
            <div layout="row" style="width: 100%" layout-align="end end">
                <md-button ng-click="vm.showAdvanced()" class="md-small" style="width: 40px">
                    <i class="material-icons">today</i>
                </md-button>
                <md-button ng-click="vm.showAdvanced()" class="md-small" style="width: 40px">
                    <i class="material-icons">list</i>
                </md-button>
            </div>
        </div>
    </md-toolbar>

    <!--    <img src="cigna_logo.png" style="height: 80px; background-color: white; margin-right: 10px; border-bottom: 1px solid #dbdbdb;">-->
    <md-tabs md-dynamic-height md-border-bottom>
        <!------------------------  ------------------------------------------------>
        <md-tab label="Rides">
            <div layout="row" class="event" style="height: 30px; background: #dddddd">
                <div class="date" style="border: none">
                    Time</div>
                <div class="date" style="border: none">Destination</div>
                <div class="date" layout="row" style="width:100%; padding-right: 10px; border: none" layout-align="end center">
                    Claim
                </div>
            </div>
            <div ng-repeat="element in vm.events">
                <div layout="row" class="event">
                    <div class="date">
                        {{element.date}} at {{element.time}}</div>
                    <div class="description">{{element.event}}</div>
                    <div layout="row" style="width:100%" layout-align="end center">
                        <md-switch ng-model="element.claimed" aria-label="Disabled" ng-change="vm.toggleRide(element)" style="margin: 0px; transform: scale(1.5); padding-right: 10px" md-no-ink ng-model="hasInk">
                        </md-switch>
                    </div>
                </div>
            </div>
        </md-tab>
        <!------------------------------------------------------------------------>
        <md-tab label=" Shopping ">
            <div layout="row" class="shopping-item" style="height: 30px; background: #dddddd">
                <div class="shopping-item-quantity" style="border: none">
                    #</div>
                <div class="shopping-item-quantity" style="border: none">Item</div>
            </div>
            <div ng-repeat="item in vm.shoppingItems ">
                <div layout="row " layout-align="start center " class="shopping-item ">
                    <div class="shopping-item-quantity ">{{item.quantity}}</div>
                    <div class="shopping-item-name ">{{item.item}}</div>

                    <div layout="column " layout-align="center end " style="width: 100% ">
                        <div layout="row ">
                            <div layout="row " layout-align="center end ">
                                <md-checkbox aria-label="Disabled" ng-model="item.done" ng-change="vm.toggleShoppingItem(item)" style="margin: 0px">
                                </md-checkbox>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </md-tab>
        <!------------------------------------------------------------------------>
        <md-tab label="Errands " style="z-index: 10 ">
            <div layout="row" class="event" style="height: 30px; background: #dddddd">
                <div class="date" style="border: none">
                    Task</div>
            </div>
            <div ng-repeat="item in vm.errands ">
                <div layout="row " layout-align="start start " class="errand ">
                    <div class="errand-task ">{{item.task}}</div>
                    <div layout="row" style="width: 100%" layout-align="end end">
                        <md-button class="md-small" style="width: 40px">
                            <i class="material-icons">add</i>
                        </md-button>
                    </div>
                </div>
            </div>
        </md-tab>
        <!------------------------------------------------------------------------>
        <!--
<md-tab label="Calender ">


</md-tab>
-->
        <!------------------------------------------------------------------------>

    </md-tabs>
</body>

</html>
