<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">

<head>
    <style type="text/css">
        a {
            text-decoration: none
        }

    </style>
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-messaging.js"></script>
    <script src="/node_modules/amazon-cognito-identity-js/dist/aws-cognito-sdk.js"></script>
    <script src="/node_modules/amazon-cognito-identity-js/dist/amazon-cognito-identity.js"></script>
    <script src="/node_modules/aws-sdk/dist/aws-sdk.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>

    <script src="app.js"></script>
    <!-----------------  Styles -------------------->
    <link rel="stylesheet" type="text/css" href="Styles/styles.css">
    <link rel="stylesheet" type="text/css" href="Styles/activity-feed.css">
    <!-----------------  Classes  ------------------->
    <script src="Classes/ride-request.js"></script>
    <script src="Classes/shopping-list.js"></script>
    <script src="Classes/shopping-item.js"></script>
    <script src="Classes/activity.js"></script>

    <!-----------------  Services  ------------------->
    <script src="Services/aws.service.js"></script>
    <script src="Services/senior-data.service.js"></script>
    <script src="Services/firebase.service.js"></script>
    <script src="Services/notifications.service.js"></script>

    <!-----------------  Controllers  ------------------->
    <script src="Controllers/controller.js"></script>
</head>

<body ng-app="app" ng-controller="MainController as vm">
    <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools" style="background: #004986" layout="row">
            <div layout="row" style="width: 100%" layout-align="start center">
                <div class="avatar" ng-click="vm.toggleSidebar()">
                    <img src="assets/pro-pic.jpeg">
                    <div class="hover">
                    </div>
                </div>
                <div layout="row" layout-align="start center">
                    <div>{{vm.currentView}}</div>
                </div>
            </div>
        </div>
    </md-toolbar>



    <md-sidenav class="md-sidenav-left" md-component-id="sidenav" md-disable-backdrop md-whiteframe="4">
        <div layout="column" layout-align="center center" style="width=100%; height=100%">
            <div class="pro-pic">
                <img src="assets/pro-pic.jpeg">
            </div>
        </div>
    </md-sidenav>


    <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always">
        <!------------------------  ------------------------------------------------>
        <md-tab md-on-select="vm.selectView('Home')">
            <md-tab-label>
                <i class="material-icons">home</i>
            </md-tab-label>
            <md-tab-body>
                <div class="activity-feed">
                    <div ng-repeat="item in vm.seniorDataService.activities">
                        <div class="feed-item">
                            <div class="date">{{item.date}}</div>
                            <div class="text">{{item.data}}</div>
                        </div>
                    </div>
                </div>
                <!--
                <div ng-repeat="item in vm.test">
                    {{item}}
                </div>

                <div class="activity-feed">
                    <div class="feed-item">
                        <div class="date">About an hour ago</div>
                        <div class="text"><a href="single-need.php">Greg</a> claimed a <a href="single-need.php">ride</a> for "Doctor's Appointment" at 8:30am tomorrow for Edgar.</div>
                    </div>

                    <div class="feed-item">
                        <div class="date">3 hours ago</div>
                        <div class="text"><a href="single-need.php">Susie</a> picked up tomatoes and oranges for Edgar.
                        </div>
                    </div>

                    <div class="feed-item-caretaker">
                        <div class="date">Yesterday</div>
                        <div class="text"><a href="single-need.php">Bertha</a> requested a <a href="single-need.php">ride</a></div>
                    </div>

                    <div class="feed-item">
                        <div class="date">Yesterday</div>
                        <div class="text"><a href="single-need.php">Greg</a> picked up some shopping <a href="single-need.php">items</a>
                        </div>
                    </div>

                    <div class="feed-item-caretaker">
                        <div class="date">Two days ago</div>
                        <div class="text"><a href="single-need.php">Bertha</a> added some <a href="single-need.php">items</a> to her shopping list
                        </div>
                    </div>

                    <div class="feed-item">
                        <div class="date">Three days ago</div>
                        <div class="text"><a href="single-need.php">Susie</a> claimed a <a href="single-need.php">ride</a>
                        </div>
                    </div>

                    <div class="feed-item-caretaker">
                        <div class="date">Three days ago</div>
                        <div class="text"><a href="single-need.php">Bertha</a> requested a <a href="single-need.php">ride</a></div>
                    </div>
                </div>
-->
            </md-tab-body>
        </md-tab>
        <!------------------------  ------------------------------------------------>
        <md-tab md-on-select="vm.selectView('Rides')">
            <md-tab-label>
                <i class="material-icons">directions_car</i>
            </md-tab-label>
            <md-tab-body>
                <div layout="row" class="event" style="height: 30px; background: #dddddd">
                    <div class="date" style="border: none">
                        Time</div>
                    <div class="date" style="border: none">Destination</div>
                    <div class="date" layout="row" style="width:100%; padding-right: 10px; border: none" layout-align="end center">
                        Claim
                    </div>
                </div>
                <div ng-repeat="element in vm.seniorDataService.rideRequests">
                    <div layout="row" class="event">
                        <div class="date">
                            {{element.date}} at {{element.time}}</div>
                        <div class="description">{{element.event}}</div>
                        <div layout="row" style="width:100%" layout-align="end center">
                            <md-switch ng-model="element.claimed" aria-label="Disabled" ng-change="element.toggleClaim(element.claimed)" style="margin: 0px; transform: scale(1.5); padding-right: 10px" md-no-ink ng-model="hasInk">
                            </md-switch>
                        </div>
                    </div>
                </div>
            </md-tab-body>
        </md-tab>
        <!------------------------------------------------------------------------>
        <md-tab md-on-select="vm.selectView('Shopping')">
            <md-tab-label>
                <i class="material-icons">shopping_cart</i>
            </md-tab-label>
            <md-tab-body>
                <div layout="row" class="shopping-item" style="height: 30px; background: #dddddd">
                    <div class="shopping-item-quantity" style="border: none">
                        #</div>
                    <div class="shopping-item-quantity" style="border: none">Item</div>
                </div>
                <div ng-repeat="item in vm.seniorDataService.shoppingList.list">
                    <div layout="row " layout-align="start center " class="shopping-item ">
                        <div class="shopping-item-quantity ">{{item.quantity}}</div>
                        <div class="shopping-item-name ">{{item.name}}</div>

                        <div layout="column " layout-align="center end " style="width: 100% ">
                            <div layout="row ">
                                <div layout="row " layout-align="center end ">
                                    <md-checkbox aria-label="Disabled" ng-model="item.pickedUp" ng-change="item.togglePickup(item.pickedUp)" style="margin: 0px">
                                    </md-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </md-tab-body>
        </md-tab>
        <!------------------------------------------------------------------------->
        <md-tab md-on-select="vm.selectView('Messages')">
            <md-tab-label>
                <i class="material-icons">message</i>
            </md-tab-label>
            <md-tab-body>
            </md-tab-body>
        </md-tab>

    </md-tabs>
</body>

</html>
